:root {
    --oscuro: #07070A;
    --asuloscuro: #0A1128;
    --azulclaro: #006FE6;
    --blanco: #FEFCFB;
    --titulos: 'Archivo Black', sans-serif;
    --parrafos: 'Raleway', sans-serif;
    --titulosbtn: 'Doppio One', sans-serif;
}

/* Establece el modelo de caja para todos los elementos, incluidos los elementos secundarios, como se indica */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    overflow-y: auto;
    /* Asegúrate de que esta propiedad está presente */
    margin: 0;
    /* Agregado para asegurarse de que no haya margen */
}

/* Establece el modelo de caja para todos los elementos, incluidos los pseudoelementos ::before y ::after */
*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Estilos globales */

h2,
h3 {
    font-family: var(--titulos);
}



h1 {
    font-family: var(--titulosbtn);
}

p,
a {
    font-family: var(--parrafos);
}

.ocultar {
    display: none;
}

.contenedor {
    margin: 0 auto;
    max-width: 120rem;
    width: 95%;
}

.btn {
    padding: 1rem 3rem;
    font-weight: bold;
    font-family: var(--titulos);
    font-size: 1.5rem;
    /* Cambiar el tamaño de la letra a 1.5 rem */
    border: none;
    color: var(--blanco);
    border-radius: 10px;
}

.bordes {
    border: 2px solid var(--azulclaro);
    color: var(--azulclaro);
    text-decoration: none;
    display: block;
    text-align: center;
    transition: background-color .3s ease-in-out;
}

/*boton*/
@media (min-width: 768px) {

    .bordes {
        display: inline-block;
        margin-top: 1rem;
    }

}

.bordes:hover {
    background-color: var(--azulclaro);
    color: var(--blanco);
}

.btn:hover {
    cursor: pointer;
}

.azul {
    background-color: var(--azulclaro);
}

/* animacion*/
@keyframes desplazamiento {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Encabezado */
.encabezado {
    background-image: url(Imagenes/fondo.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;

}


@media(min-width:768px) {
    .encabezado {
        background-attachment: fixed;
    }

}

.encabezado::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Aquí deberías agregar estilos según sea necesario */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;

}



h2 {
    font-size: 3rem;
}

h2 span {
    color: var(--azulclaro);
}

.contenido-navegacion {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--blanco);
    height: 6.5rem;
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.45);
    position: fixed;
    top: 0;
    width: 100%;
}

.navegacion {
    background-color: var(--blanco);
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    animation: desplazamiento .5s ease-in-out;

}

@media(min-width:768px) {
    .ocultar {
        display: inline;
    }

}

.navegacion a {
    display: block;
    font-size: 17px;
    padding: 1.1rem;
    color: var(--oscuro);
    text-decoration: none;
    transition: all .3s ease-in-out;

}

/*.navegacion a:hover {
    background-color: var(--azulclaro);
    color: var(--blanco);


}*/



@media(min-width:768px) {
    .navegacion a {
        display: inline;
    }

}

@media(min-width:768px) {
    .navegacion {
        /* Aplica a elementos con la clase 'navegacion' dentro de la regla @media */
        position: relative;
        /* Establece posición relativa */
        top: unset;
        /* Restablece el desplazamiento vertical */
        width: auto;
        /* Ancho automático según contenido */
        background-color: unset;
        /* Restablece el color de fondo */
        animation: unset;
        /* Restablece la animación */
    }

}

.hamburguesa span {
    width: 5rem;
    height: 1rem;
    border: 3px solid white;
    background-color: var(--asuloscuro);
    display: block;
}

@media(min-width:768px) {
    .hamburguesa {
        display: none;
    }

}

@media(min-width:768px) {
    .contenido-encabezado {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    .contenido-encabezado,
    .formulario-encabezado {
        flex: 0 0 calc(50% - 1rem);
    }

}

.texto-encabezado h1 {
    font-size: 3rem;
    text-align: center;
    color: var(--blanco);
    padding-top: 8rem;


}

/* Este bloque de estilos se aplica cuando el ancho de la pantalla es igual o superior a 768px. 
   Ajusta el tamaño, alineación y relleno del elemento h1 dentro de la clase "texto-encabezado". */
@media (min-width: 768px) {
    .texto-encabezado h1 {
        font-size: 6.8rem;
        /* Tamaño de fuente grande para pantallas más amplias */
        text-align: left;
        /* Alinea el texto a la izquierda */
        padding-top: 0;
        /* Sin relleno superior */
    }
}



.formulario-encabezado {
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    border-radius: 1rem;
}

.formulario-encabezado h2 {
    font-size: 3rem;
    text-align: center;
    margin-top: 0;

}

@media(min-width:768px) {
    .formulario-encabezado h2 {
        font-size: 2.7rem;
    }
}



.input-encabezado {
    margin-bottom: 1rem;
    width: 100%;
}

.input-encabezado input {
    width: 100%;
    padding: 0 1.4rem;
    height: 3.3rem;
    border: 1px solid #f1f1f1;
    border-radius: 1rem;
    font-family: var(--parrafos);
    outline: none;
}

.input-encabezado input:focus {
    outline: 1px solid #3377FF;
}


/*ventajas*/
/* Estilos generales para ventajas */
.ventajas {
    background-color: var(--asuloscuro);
    padding-top: 4.5rem;
}

.contenido-ventajas {
    display: flex;
    justify-content: space-around;
    /* Espaciado entre las ventajas en escritorio */
}

.ventaja {
    width: 30%;
    text-align: center;
    margin: 10px;
    color: var(--blanco);
}

.ventaja i {
    font-size: 2.5rem;
}

.ventaja h3 {
    font-size: 2rem;
}

.ventaja p {
    font-size: 1.6rem;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .contenido-ventajas {
        flex-direction: column;
        /* Cambia a disposición de columna en dispositivos móviles */
        align-items: center;
        /* Centra los elementos en dispositivos móviles */
    }

    .ventaja {
        width: 80%;
        /* Ajusta el ancho al 80% en dispositivos móviles */
    }
}

/*seccion sobre nosotros*/
.nosotros h2 {
    text-align: center;
    font-size: 4rem;
    /*En dispositivo grande tiene este tamaño*/
    color: var(--azulclaro);
}

@media screen and (max-width: 768px) {
    .nosotros h2 {

        font-size: 3.5rem;
        /*en dispositivo chio tiene este tamaño*/

    }
}

.contenido-nosotros {
    background-image: url(Imagenes/nosotros.jpg);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-size: cover;
    background-position: center center;
}

/* La regla @media aplica diferentes estilos para diferentes dispositivos o tamaños de pantalla. */
@media (min-width: 768px) {

    /* La clase .contenido-nosotros tendrá un diseño de cuadrícula con dos columnas de igual ancho cuando la ventana del navegador tenga al menos 768 píxeles de ancho. */
    .contenido-nosotros {
        grid-template-columns: repeat(2, 1fr);
        background-attachment: fixed;
    }
}


.texto-nosotros {
    padding: 2rem;
    grid-row: 2/3;
    background-color: var(--blanco);
}





.texto-nosotros h3 {
    font-size: 3rem;
    color: var(--azulclaro);
    text-align: center;
}

.texto-nosotros p {
    font-size: 1.8rem;
    text-decoration: center;
    color: #07070A;
}

@media (min-width: 768px) {
    .texto-nosotros p {
        text-align: left;
    }


}


/*seccion servicios*/

.servicios {
    padding-top: 5rem;
}

.servicios h2 {
    font-size: 4.5rem;
    text-align: center;
    color: var(--azulclaro);
}

@media (min-width: 768px) {
    .contenido-servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
    }


}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.servicio i {
    background-color: var(--azulclaro);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
    font-size: 3rem;
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.45);
    transition: all .3s ease-in-out;
}

.servicio h3 {
    font-size: 2.2rem;
    color: var(--asuloscuro);
    white-space: nowrap;
}

.servicio p {
    font-size: 1.7rem;
    text-align: center;
    color: #07070A;
    font-family: Arial, Helvetica, sans-serif;

}


@media (min-width: 768px) {
    .servicio p {
        text-align: left;
    }


}

@media (min-width: 768px) {
    .servicio:hover {
        cursor: pointer;
    }

    .servicio:hover.servicio i {
        background-color: var(--blanco);
        color: var(--azulclaro);
    }


}

/*seccion contacto*/
.contacto {
    padding-top: 5rem;
}

.contacto h2 {
    text-align: center;
    color: var(--azulclaro);
    font-size: 4.5rem;
}

@media (min-width: 768px) {

    .contenido-contacto {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

.informacion-contacto {
    background-image: url(Imagenes/code.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.informacion-contacto ::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.informacion-contacto h3 {
    font-size: 4rem;
    text-align: center;
}

.informacion-contacto p {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.informacion-contacto h3,
.informacion-contacto p {
    color: var(--blanco);
}

.formulario-contacto {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--asuloscuro);
}

.input-contacto label {
    color: var(--blanco);
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 1rem 0;
    font-weight: bold;
    font-size: 1.7rem;
}

.input-contacto input {
    padding: 1.1rem 1rem;

}

.input-contacto input,
.input-contacto textarea {
    width: 100%;
    outline: none;

}


.input-contacto textarea {
    resize: none;
    font-size: 3.5rem;
}
.input-contacto input[type="submit"] {
    width: auto;
}

/* Estilos para el contenedor del pie de página */
.footer {
    color: white;
    /* Color del texto en el pie de página */
    padding: 1.7rem;
    /* Espaciado interno del pie de página */
    text-align: center;
    /* Alineación del texto en el centro */
}

.footer-p {
    color: #080808;
    margin: 0;
    /* Elimina el margen predeterminado del párrafo */
    text-align: center;
    word-wrap: break-word;
}

.logo,
.footer p {
    display: inline-block;
    vertical-align: middle;
    /* Ajusta el valor para alinear verticalmente con los demás elementos */
    margin: 0 5rem;
}

.logo {
    display: inline-block;
}

.logo h2 {
    margin: 0;
    color: #07070A;
}

.logo samp {
    font-family: var(--titulos);
    color: var(--azulclaro);
}

/* Media Query para pantallas de escritorio */
@media screen and (min-width: 768px) {
    .logo,
    .footer p {
        margin: 0 10rem;
    }
}

/* Media Query para dispositivos móviles */
@media screen and (max-width: 767px) {
    .logo,
    .footer p {
        margin: 0;
    }
}
